<?xml version="1.0"?>
<!--
  Development of this module has been funded by the Monterey Bay Aquarium
  Research Institute (MBARI) and the David and Lucile Packard Foundation
-->
<model>
  <name>ABCSign_5m</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
    <email>mabel@openrobotics.org</email>
  </author>

  <description>
    Three flat square planes, 5 meters apart, in cyan, blue, cyan, with capital
    letters A, B, and C cut out, respectively.
  </description>
</model>
