<?xml version="1.0"?>
<model>
  <name>ABCSign</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
    <email>mabel@openrobotics.org</email>
  </author>

  <description>
    Three flat square planes with capital A, B, and C letters cut out, in
    cyan, blue, cyan, respectively.
  </description>
</model>
