<?xml version="1.0"?>
<model>
  <name>Tethys equiped</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
    <email>mabel@openrobotics.org</email>
  </author>

  <description>
    3D model of MBARI LRAUV Tethys, with sensors and plugins.
  </description>
</model>
