<?xml version="1.0"?>
<!--
  Development of this module has been funded by the Monterey Bay Aquarium
  Research Institute (MBARI) and the David and Lucile Packard Foundation
-->
<model>
  <name>axes</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <description>
  </description>
</model>
