#
# Development of this module has been funded by the Monterey Bay Aquarium
# Research Institute (MBARI) and the David and Lucile Packard Foundation
#

name: debug_lrauv_session
root: ~/

windows:
  - simulation:
      # Synchronize all panes of this window, can be enabled before or after the pane commands run.
      # 'before' represents legacy functionality and will be deprecated in a future release, in favour of 'after'
      # synchronize: after
      panes:
        - . ~/lrauv_ws/install/setup.sh; ign gazebo -v4 buoyant_tethys.sdf
        - . ~/lrauv_ws/install/setup.sh; cd /home/developer/lrauv_ws/src/lrauv-application/; bin/LRAUV
  - logging:
      panes:
        - read  -n 1 -p  "Press any key to export logs:" mainmenuinput;
          sudo /home/developer/lrauv_ws/src/lrauv/lrauv_ignition_plugins/plots/unserialize_for_plotting.sh;
          sudo cp -r /home/developer/lrauv_ws/src/lrauv/lrauv_ignition_plugins/plots/missions/tmp /results/
