<?xml version="1.0"?>
<!--
  Development of this module has been funded by the Monterey Bay Aquarium
  Research Institute (MBARI) and the David and Lucile Packard Foundation
-->

<model>
  <name>turbidity_generator</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mabel Zhang</name>
    <email>mabel@openrobotics.org</email>
  </author>

  <description>
    Emits particles horizontally to visually simulate turbid turquoise
    (turbulent, not really) water (in turbo mode, not really), with turtles to
    be imagined. Now your turn.
  </description>

  <depend>
  </depend>
</model>
